<div class="text-center">
    <!--<a ng-click="vm.finish()" class="btn btn-block btn-info">
     CHECK 
    </a>-->
    <h3 ng-show={{!vm.validName}}>Please Enter a Valid Name</h3>
    <h3 ng-show={{!vm.validEmail}}>Please Enter a Valid Email</h3>
    <a ui-sref="email" class="btn btn-block btn-info">
      <span class="glyphicon glyphicon-circle-arrow-left"></span> Go Back 
    </a>
    <p></p>
    <button ui-sref="submitted" ng-show={{vm.formComplete}} type="Submit Form" class="btn btn-danger">Submit</button>
</div>